<!DOCTYPE html>
<html>
<head>
	<title>Eat the Burger!</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/burgfavicon-32x32.png">
</head>
<body>
	<div class="wrap">
		<div class="row">
			<div id="header" class="container col-xs-12 text-center">
				<img id="bob" src="../img/bob.png" class="col-md-3" width="100px">
				<img id="burger-title" src="../img/titletext.png" class="col-md-9" width="800px" />
			</div>
		</div>
	{{{ body }}}
		<footer class="footer text-center">
			<div class="container">
				<p id="copy">&copy; 2017 Angela Vish</p>
			</div>
    	</footer>
	</div>
</body>
